/* General */

body {
  background-image: url("./images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 700px;

  background-position: 120% -5%;
}

#cta {
  background-image: url("./images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-position: 120% 0%;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url("./images/bg-simplify-section-mobile.svg");
  }
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary Colors */
  --brightRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);

  /* other Colors */
  --brightRedLight: hsl(12, 88%, 69%);
  --brightRedSupLight: hsl(12, 88%, 95%);

  /* Neutral */
  --darkGrayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed: hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);

  /* Screens */
  /* Mobile 375px, desktop: 1440px 
  --sm: "480px";
  --md: "768px";
  --lg: "976px";
  --xl: "1440px";
  */
}

/* Fonts typography */
.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.be-vietnam-pro-regular-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.be-vietnam-pro-medium-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.be-vietnam-pro-bold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Utilities */
.util-mr {
  margin-right: 10px;
}

.util-no-ml {
  margin-left: 0;
}

.util-border-red {
  border: 3px solid red;
}

.util-border-blue {
  border: 3px solid blue;
}

.util-border-green {
  border: 3px solid green;
}
/* Site wide */

.container {
  /* green */
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 24px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 976px) {
  .container {
    max-width: 976px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Better not to have these as site wide */
.container__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container__change_dir {
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .container__change_dir {
    flex-direction: row;
  }
}
/* Navbar */
.navbar {
  /* blue */
  background: transparent;
  height: 60px;
}

.navbar__logo {
  padding-top: 12px;
}

.navbar__menu-items {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar__menu-items {
    display: flex;
  }
}

.navbar__menu-item {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 24px;
  color: #000;
}

.navbar__menu-item:hover {
  color: var(--darkGrayishBlue);
}

.btn {
  padding: 8px 20px 10px 24px;
  color: #fff;
  background-color: var(--brightRed);
  border-radius: 1000px;
  align-items: baseline;
  text-decoration: none;
  font-size: 1rem;
  /* focus: outline-none */
}

.btn--nav-cta {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn--nav-cta {
    display: block;
  }
}

.btn:hover {
  background-color: var(--brightRedLight);
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  display: block;
  background-color: transparent;
  border-style: none;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 4px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* end Hamburger */

/* Mobile Menu Modal */
.navbar__menu-modal {
  display: none;
}

.navbar_menu-modal--is-visible {
  display: block;
}

.navbar_menu-modal--is-hidden {
  display: none;
}

.navbar__menu-modal-items {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 40px;
  width: auto;
  left: 32px;
  right: 32px;
  background-color: #fff;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.navbar__menu-modal-item {
  margin-top: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* Section Hero*/
.section-hero-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
}

@media screen and (min-width: 768px) {
  .section-hero__cta {
    width: 50%;
  }
}

.section-hero-cta__h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .section-hero-cta__h1 {
    font-size: 3rem;
    line-height: 1;
    max-width: 768px;
    text-align: left;
  }
}

.section-hero-cta__p {
  font-size: 1rem;
  color: var(--darkGrayishBlue);
  max-width: 480px;
  margin-top: 48px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-hero-cta__p {
    text-align: left;
  }
}

.section-hero-cta__btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .section-hero-cta__btn-container {
    justify-content: left;
  }
}

.section-hero-cta__btn {
  margin-top: 48px;
}

/* Section Features */

.section-features-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  margin-top: 40px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .section-features-container {
    flex-direction: row;
  }
}

.section-features-heading {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .section-features-heading {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.section-features-heading__h2 {
  max-width: 768px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-align: left;
  margin-top: 48px;
}

.section-features-heading__p {
  max-width: 480px;
  text-align: left;
  margin-top: 48px;
  color: var(--darkGrayishBlue);
}

.section-features__numbered-list {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .section-features__numbered-list {
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    width: 50%;
  }
}

.section-features__list-item {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .section-features__list-item {
    flex-direction: row;
    margin-top: 32px;
  }
}

.section-features-heading__list-item-heading-wrapper {
  border-radius: 1000px;
  background-color: var(--brightRedSupLight);
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .section-features-heading__list-item-heading-wrapper {
    border-radius: 1000px;
    background-color: transparent;
    margin: 0 6px;
  }
}

.section-features__list-item-heading {
  display: flex;
  align-items: center;
}

.section-features__list-item-number {
  padding: 4px 8px;
  color: #fff;
  border-radius: 1000px;
  background-color: var(--brightRed);
}

@media screen and (min-width: 768px) {
  .section-features__list-item-number {
    padding: 2px 8px;
    color: #fff;
    border-radius: 1000px;
    background-color: var(--brightRed);
  }
}

.section-features__list-item-h3 {
  margin-left: 4px;
  font-weight: bold;
  display: block;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .section-features__list-item-h3 {
    margin-left: 4px;
    font-weight: bold;
    margin-bottom: 16px;
    display: none;
    font-size: 1rem;
  }
}

.section-features-list-item-wrapper {
  margin-left: 25px;
  margin-top: 8px;
}

.section-features__list-item-h3-md {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-features__list-item-h3-md {
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
    font-size: 1.125rem;
  }
}

.section-features__list-item-p {
  color: var(--darkGrayishBlue);
  text-wrap: wrap;
}

/* Section Testimonials */
.testimonials-heading-container {
  margin-top: 128px;
  text-align: center;
}

.testimonials-heading {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .testimonials-container {
    flex-direction: row;
    margin-top: 64px;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--veryLightGray);
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .testimonial {
    margin-left: 24px;
    margin-top: 48px;
    max-width: 33%;
  }
}

.testimonial-img {
  width: 64px;
  height: auto;
  display: block;
  object-fit: cover;
  margin-top: -56px;
}

.testimonial-name {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.testimonial-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--darkGrayishBlue);
}

.testimonials-cta {
  margin-top: 64px;
  margin-bottom: 64px;
}

/*
.testimonials-cta__btn {
}
*/

.cta {
  background-color: var(--brightRed);
}

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 96px;
}

@media screen and (min-width: 768px) {
  .cta__container {
    flex-direction: row;
    align-items: baseline;
    padding-top: 48px;
  }
}

.cta__h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  margin-top: 48px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cta__h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    max-width: 512px;
    text-align: left;
    margin-top: 0;
  }
}

.cta__btn-container {
  margin-top: 48px;
  margin-bottom: 96px;
  align-items: baseline;
}

.cta__btn {
  color: var(--brightRed);
  background-color: #fff;
  padding: 8px 20px 10px 24px;
  border-radius: 1000px;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  /* focus: outline-none */
}

.cta__btn:hover {
  background-color: var(--veryDarkBlue);
  color: #fff;
}

/* Footer */

.footer {
  background: var(--veryDarkBlue);
}
.footer__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 24px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}

.logo-social__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .logo-social__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}

.copy-right__top {
  margin-top: 24px;
  text-align: center;
  color: #000;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .copy-right__top {
    display: none;
    margin-top: 0;
  }
}

.footer-logo {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin-top: 0;
  }
}

.footer-logo__img {
  height: 24px;
  object-fit: cover;
}

.footer-social {
  display: flex;
  justify-items: center;
  margin-top: 48px;
}

.footer-social__a {
  text-decoration: none;
}

.footer-social__img {
  height: 24px;
  object-fit: cover;
  margin-left: 16px;
}

.footer-social__img--no-mgl {
  margin-left: 0;
}

.footer-links__container {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

.footer-links__list-left {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-links__list-right {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 128px;
}

.footer-links__a {
  color: white;
  text-decoration: none;
  margin-top: 12px;
}

.footer-links__a--top {
  margin-top: 0;
}

.footer-links__a:hover {
  color: var(--brightRed);
}

/* Footer form */
.footer-input__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-input__form {
  display: flex;
}

.footer-input__input {
  flex: 1 1 0%;
  margin-left: 0;
  padding-left: 12px;
  border-radius: 1000px;
}

.footer-input__btn {
  margin-left: 8px;
  background-color: var(--brightRed);
  color: #fff;
  border-radius: 1000px;

  padding: 8px 20px 10px 24px;
  color: #fff;
  background-color: var(--brightRed);
  border-radius: 1000px;
  align-items: baseline;
  cursor: pointer;
}

.footer-input__btn:hover {
  background-color: var(--brightRedLight);
}

.copy-right__bottom {
  color: #fff;
  display: none;
}

@media screen and (min-width: 768px) {
  .copy-right__bottom {
    display: block;
  }
}
